.spinner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.small-spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
  border-style: dashed;
  border-radius: 50%;
  border-color: var(--color-white);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
