.error {
  color: red;
  text-align: left;
  margin-top: -0.5rem;
}

.login-btn-disabled{
    background: #f8876796;
    border: 1px solid #f8876796;
    color: var(--color-white);
    padding: 0.6rem 3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.login-btn-disabled:hover{
    cursor: not-allowed;
}

